body {
    margin: 0;
    padding: 0;
    background-color: #e00a7c;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

#speech-bubble {
    background: url('../img/bubble.png') no-repeat;
    background-size: cover;
    display: inline-block;
    color: #e00a7c;
    font-size: 16px;
    text-align: center;
}

#box {
    background-color: #ffffff;
    border: 2px solid #e10b7d;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 2px #000000;
    -webkit-box-shadow: 0px 0px 2px #000000;
    box-shadow: 0px 0px 2px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    opacity: 0.88;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 88);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity = 88);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/

    text-align: left;
    padding:1%;
    width:25%;
    position:absolute;
    font-family: 'Lato', sans-serif;
    color: #240217;


}
#smile {
    display: inline-block;
}

#smile img {
}

footer {
    background-color: white;
    text-align: right;
    position: fixed;
    bottom:0;
    width: 100%;
}

@media only screen and (min-width: 1025px){
    #speech-bubble {
        font-size: 40px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1024px) {
    #speech-bubble {
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
    #speech-bubble {
        font-size: 30px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
    #speech-bubble {
        font-size: 20px;
    }
}

@media only screen and (max-width: 479px) {
    #speech-bubble {
        font-size: 16px;
    }
}